<section class="section background" id="aboutme">
  <div class="section__title">About me</div>
  <div class="section__content">
    <p>I'm a full-stack software engineer with a passion for building beautiful web applications, and working with the data flow in those applications.
      I love the thrill of solving problems and overcoming challenges. I work mostly with python and Javascript (react, node, express).
    </p>

    <p>
      <strong>When I'm not coding</strong>, I'm probably hanging out with my family, reading football news or playing paino.</p>

    {% include employment-status.html %}
  </div>
</section>
