<navheader>
    <div class="menu-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
    <nav class="menu">
        <div class="menu-left">
            <div class="portrait"></div>
        </div>
        <ul class="menu-right">
            <li class="nav-list">
                <a href="#home" class="nav-link">HOME</a>
            </li>
            <li class="nav-list">
                <a href="#aboutme" class="nav-link">ABOUT ME</a>
            </li>
            <li class="nav-list">
                <a href="#myskills" class="nav-link">SKILLS</a>
            </li>
            <li class="nav-list">
                <a href="#experience" class="nav-link">EXPERIENCE</a>
            </li>
            <li class="nav-list">
                <a href="#projects" class="nav-link">PROJECTS</a>
            </li>
        </ul>
    </nav>
</navheader>
